

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


[id^='tbl-month-']{
    background-color: #ffffff;
}

[id^='th-month-']{
    background-color: #faf2cc
}

[id^='tbl-year-']{
    background-color:#cccccc
}

[id^='tr-year-']{
    vertical-align: top
}














