<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Lotto simulator</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active" id="home_link"><a href="#">Home</a></li>
                            <li id="album_link"><a href="#album" >Album</a></li>
                            <li id="contact_link"><a href="#contact" >Contact</a></li>
                            <!--
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                        <!--
                        <form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                        -->
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            
            <div id="album" class="hide">
            </div>

            <div id="contact" class="hide row">

                <div class="span4">
                    <img src="http://placehold.it/300x400" alt="Avatar" />
                    <a id="sprawdz" class="btn" href="#">Sprawdz ostatnie</a>
                </div>
                    <div class="span8">
                       <form class="form-horizontal" id="contact-form">
                          <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                              <input type="text" id="inputEmail" placeholder="Email" name="email">
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                              <input type="password" id="inputPassword" placeholder="Password" name="password">
                            </div>
                          </div>
                          <div class="control-group">
                            <div class="controls">
                              <textarea rows="3" name="message"></textarea>
                            </div>
                          </div>
                          <div class="control-group">
                            <div class="controls">
                              <button type="submit" class="btn">Sign in</button>
                            </div>
                          </div>
                        </form>
                    </div>   
            </div>

            <div id="game" class="row hide">
                <div class="span4">
                    <table>
                      <tbody id="buttons">
                        
                      </tbody>
                    </table>
                </div>
                <div class="span8">
                    <h3>Zasady są proste!</h3>
                    <p>Wybierz 6 liczb.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    <div id="inne-demo">
                    </div>
                </p>

                    <div class="form-actions">
                        <a class="btn btn-primary" href="#buynow-modal" data-toggle="modal">Buy now</a>

                       

                        <a id="losuj" class="btn">Losuj</a>
                    </div>

                    <div id="wyniki">

                    </div>

                    <div id="ticket">
                    </div>

                    
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; GTech 2013</p>
            </footer>

        </div> <!-- /container -->


        <script type="text/javascript">
        window.App = {
            API: 'http://lotto.macdev.pl',
            Models: {},
            Collections: {},
            Views: {}
        };
        </script>

        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins/geolocationshim.js"></script>

        <script src="js/models/profile.model.js"></script> 
        <script src="js/models/wager.model.js"></script>
        <script src="js/models/song.model.js"></script> 
        <script src="js/collections/album.collection.js"></script>

        <script src="js/views/board.view.js"></script>
        <script src="js/views/ticket.view.js"></script> 
        <script src="js/views/song.view.js"></script> 
        <script src="js/views/album.view.js"></script>

        <script src="js/router.js"></script>
        <script src="js/board.js"></script>
        <script src="js/main.js"></script>



        <!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
   -->

<script id="template-song" type="text/template">
    <p> <%= name %></p>
    <p> <%= artist %></p>
    <p><button class="btn btn-success">Play now</button></p>
</script>


<div id="buynow-modal" class="modal hide fade">
  <div class="modal-header">

    <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true">&times;</button>

    <h3>Modal header</h3>

  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a id="buy-now" href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<script id="template-wager" type="text/template">

<h1>hello: <%= name %></h1>
<p>Price: <%= price %></p>
<p><button class="btn btn-success">Buy now</button></p>

</script>

<script id="template-ticket" type="text/template">

<div class="well">
<h2>WYBRANE:</h2>

<% _.each( selections, function(item) { %>
    <button class="btn btn-success"><%= item %></button>
<% }); %>
</div>

</script>

    </body>
</html>
